# Just a rough notebook for some quick and dirty operation test

In [1]:
import numpy as np
import pandas as pd

In [3]:
A = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9],[10,11,12]])

In [4]:
A.shape

(4, 3)

In [5]:
A

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [6]:
A.columns = ["a","b","c"]

In [7]:
A

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [17]:
#testing how to apply a function on pandas DF, on selected columns

def test_func(x, custom_value):
    return x - custom_value

A[["a","b"]].apply(test_func,axis = 1, args = (10,))

   a  b
0 -9 -8
1 -6 -5
2 -3 -2
3  0  1

In [20]:
#testing to pass a DF to a function

def test_func2(df, col1, col2):
    return df[col1] - df[col2]

test_func2(A, "a", "c")

0   -2
1   -2
2   -2
3   -2
dtype: int64

In [21]:
#Retunring more than one columns from function

def test_func(x, custom_value):
    return x - custom_value, x + custom_value

A.apply(test_func,axis = 1, args = (10,))

0    ([-9, -8, -7], [11, 12, 13])
1    ([-6, -5, -4], [14, 15, 16])
2    ([-3, -2, -1], [17, 18, 19])
3       ([0, 1, 2], [20, 21, 22])
dtype: object

In [36]:
#Retunring more than on columns from function

def test_func(x, custom_value):
    return x - custom_value, x + custom_value

B = A["a"].apply(test_func, args = (10,))

print(B.shape)
print(type(B))

(4,)
<class 'pandas.core.series.Series'>

In [41]:
B

0    (-9, 11)
1    (-6, 14)
2    (-3, 17)
3     (0, 20)
Name: a, dtype: object

In [42]:
B[0][0]

-9

In [72]:
import re

def preprocessor(text):
    #first, get rid of any html tags
    text = re.sub('<[^>]*>', '', text)
    
    #to_omit_pattern = r"[^A-Za-z0-9():;=/|]+" 
    #emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)', text)
    
    #second, find the emoticons and replace the nose. 
    #Also, if not emoticon then convert to lowercase and remove everything other than alphaneumerics.
    
    emoticon_pattern = r"((?::|;|=)(?:-)?(?:\)|\(|D|P))" #the outermost pair of parantheses are to capture the patterns themselves while used inside re.split()
    to_omit_pattern = r"[^A-Za-z0-9]+" 
    
    lst = re.split(emoticon_pattern, text)
    new_lst= []
    
    for item in lst:
        if re.match(emoticon_pattern, item): 
            item = item.replace("-","") #if it is an emoticon, replace the nose
        else:
            item = re.sub(to_omit_pattern, ' ', item.lower()) #else replace anything other than alphaneumerics
        new_lst.append(item)

    text = "".join(new_lst)
    
    return text

test_string = "</a>This :) is :( a test :-)!"
print(preprocessor(test_string))

tst_str2 = "Why can't you believe how fat Artie is? Did you see him on his recent appearence on the Tonight Show with Jay Leno? He looks absolutely AWFUL! If I had to put money on it, I'd say that Artie Lange is a can't miss candidate for the 2007 Dead pool!"
print(preprocessor(tst_str2))

this :) is :( a test :)
why can t you believe how fat artie is did you see him on his recent appearence on the tonight show with jay leno he looks absolutely awful if i had to put money on it i d say that artie lange is a can t miss candidate for the 2007 dead pool

In [71]:
emoticon_pattern = r"((?::|;|=)(?:-)?(?:\)|\(|D|P))"
test_string = "</a>This :) is :( a test :-)!"
lst = re.split(emoticon_pattern, test_string)

print(lst)

new_lst= []

for item in lst:
    if re.match(emoticon_pattern, item):
        item = item.replace("-","")
    new_lst.append(item)
    
print(new_lst)
print("".join(new_lst))

['</a>This ', ':)', ' is ', ':(', ' a test ', ':-)', '!']
['</a>This ', ':)', ' is ', ':(', ' a test ', ':)', '!']
</a>This :) is :( a test :)!